.color {
    min-width: 1px;
    transition: .3s all;
}
.color.detach {
    cursor: pointer;
    transform: scaleX(1.5);
    border: 1px solid white;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.384);
    padding: 3px;
    transition: .3s all;
}