.color {
    min-width: 1px;
    display: inline-block;
}
.color.detach {
    cursor: pointer;
    transform: scaleX(1);
    border: 1px solid white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    padding: 1%;
}